@import '../../../../styles/abstracts/config';

.header {
    height: 3.75rem;
    color: $color-white;
    text-align: center;

    &__nav {
        height: inherit;
    }

    &__nav-container {
        background-color: $color-primary;
        z-index: 1000;
        display: flex;
        align-items: center;
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        @include respond(phone) {
            justify-content: center;
        }
    }

    &__items-left, &__items-right{
        flex: 1;
        @include respond(mobile){
            display: none;
        }
    }

    &__items-brand{
        flex: 0 0 20rem;
        text-align: center;
        @include respond(mobile){
            flex: 1;
        }
    }

    &__logo-box{
        height: inherit;
    }

    &__logo-img {
        width: 3.125rem;
        height: inherit;
    }

    &__logo-title {
        margin: 0 1rem;
    }
}
