<div class="performance">
        <h1>Class Performance</h1>
    <div class="performance__select-filter">
        <app-drop-down (dropDownOutput)="latestDropDownValue($event)"></app-drop-down>
    </div>

    <div class="performance__container">
        <div class="performance__container-items">
            <h2 class="performance__graph-title">Top Performers</h2>
            <canvas baseChart [data]="chartGraphsData.performers.barChartData"
                [labels]="chartGraphsData.performers.barChartLabels"
                [chartType]="chartGraphsData.performers.barChartType"
                [colors]="chartGraphsData.performers.barChartColors"
                [legend]="chartGraphsData.performers.barChartLegend">
            </canvas>

        </div>
        <div class="performance__container-items">
            <h2 class="performance__graph-title">Students Completing Difficult Excercise</h2>
            <canvas baseChart [data]="chartGraphsData.stdCompletingDiffExc.barChartData"
                [labels]="chartGraphsData.stdCompletingDiffExc.barChartLabels"
                [chartType]="chartGraphsData.stdCompletingDiffExc.barChartType"
                [colors]="chartGraphsData.stdCompletingDiffExc.barChartColors"
                [legend]="chartGraphsData.stdCompletingDiffExc.barChartLegend">
            </canvas>

        </div>


    </div>

</div>