@import '../../../../styles/abstracts/config';

.search{
    &__input {
        height: 2.2rem;
        border: 0;
        border-radius: 2px;
        padding-left: 0.5rem;
        width: 14rem;
    }

    &__suggestion-box {
        text-align: left;
        position: absolute;
        margin-left: 11.6%;
        background-color: #fff;
        color: black;
        box-shadow: 0 0 3px;

        @include respond(tab-land){
            margin-left: 5.6rem;
        }

        :first-child{
            border-top: 1px solid 80808061;
        }
    }
    &__sug-item{
        padding: 0.7rem;
        border-bottom: 1px solid #80808061;
        width: 14rem;
    }
}
